header {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
img{

}
nav{
    
}
main{
    
}
ul{
    list-style-type: none;
}
h2{

}
ul.form{
    border-radius: 25px;
    text-align: justified;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 20px;
  width: 300px;
  height: 150px;
}

