header {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
ul.speakers{
    text-align: justify;
}
li.speaker-card{
    border-radius: 25px;
    text-align: justify;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
ul{
    list-style-type: none;
}
footer.form{ 
    border-radius: 25px;
    text-align: justify;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 20px;
  width: 350px;
  height: 125px;
}

   

