a
@media (min-width:520px) {}96-0display blcoblockvertical aligned:  alialgigned: top 
  ;
  vertical -
\ \display: inline lblock;

  .speaker.-card{}
    
  display:
    inlineinline block;
    verticalavertical-align: ;top
  
  
  s@media (min-width:960px) {

  .speakers-card{
    display:inline block;
    vertical-align: top;
  }

}
@media (min-width:960px) {

  .speakers-card{
    display:inline block;
    vertical-align: top;
  }
}


